{%extends 'base.html'%}

{% block content %}
{{block.super}}
<!-- <h1> Welcome to the Neighborhood</h1> -->

{% for post in posts %}

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  <div style="border-style: double;">
    <!-- {% if project.poster.profile.profile_pict%}
    <p style="font-family: 'ZCOOL XiaoWei', serif;font-size: 20px"><img src="{{project.poster.profile.profile_pict.url}}" alt="profile" height="50px" width="50px"
        style="border-radius: 50%;"> {{project.poster.username}} </p>
    {% else %}
    <img src="https://www.seekpng.com/png/small/41-410093_circled-user-icon-user-profile-icon-png.png" alt="profile"
      height="65px" width="65px" style="border-radius: 50%"> {{project.poster.username}}
    {% endif %} -->
    <h3 style="text-align: center;font-family: 'ZCOOL XiaoWei', serif;"><strong> {{post.user}} </strong></h3>
    <img src="{{post.post_image.url}}" class="img-thumbnail photo img-responsive" alt="Image" data-toggle="modal"
      data-target="#{{post.id}}" height="600px" , width="600px"> <br>
    <br>
    <h3 style="text-align: center;font-family: 'ZCOOL XiaoWei', serif;"><strong> {{post.description}} </strong></h3>
  </div> <br>
</div>
{% endfor %}
{% endblock %}