{%extends 'base.html'%}
{% block content %}
{{ block.super}}
<style>
  #image {
    background-image:
    url('https://www.wallpaperflare.com/static/407/577/249/house-city-building-neighborhood-wallpaper.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;

  }
</style>
<div class="container-fluid">
    <div class="row" id="image"></div><br>
    <!-- Looping through images   -->
    <div class="row"> <br>

        {% for post in posts %}
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <!-- <div style="border-style: double;"> -->
                <h3><strong> {{post.user}} </strong></h3>
                <img src="{{post.post_image.url}}" class="img-thumbnail photo img-responsive" alt="Image"
                    data-toggle="modal" data-target="#{{post.id}}"> <br>
                <br>
                <h3 ><strong> {{post.description}}
                    </strong></h3>
            <!-- </div> <br> -->
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}